/*========================================

       ===> Base Section <===

==========================================*/
*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
}


.pace-running .entire-content
{
	opacity: 0;
}

.pace-done .entire-content
{
	opacity: 1;
	transition:all 2s ease-in;
}

h1 {
  font-size: 36px;
  color: #555;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  color: #555;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  color: #555;
  font-weight: bold;
}


.primary {
  color: #e74c3c;
}

.primary-bg {
  background-color: #e74c3c;
}

.secondary-dark-blue {
  color: #34495e;
}

.secondary-dark-blue-bg {
  background-color: #34495e;
}

.secondary-sky-blue {
  color: #2d82d8;
}

.secondary-sky-blue-bg {
  background-color: #2d82d8;
}

a:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0px;
}

ul li {
  display: inline-block;
}

.section-padding {
  padding: 56px 0;
}

.white {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.animation {
  opacity: 0;
}

/*========================================

       ===> Header Section <===

==========================================*/

header {
  color: #ffffff;
  height: 112px;
  line-height: 112px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header a.logo {
  float: left;
}

header nav {
  float: right;
  font-weight: bold;
}

header nav ul li {
  padding-left: 30px;
}

header nav ul li a {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

header nav ul li a:hover,
header nav ul li a:focus {
  color: #e74c3c;
  text-decoration: none;
}

/*========================================

       ===> Slider Section <===

==========================================*/

.slider,
.slider ul.slider-carousel,
.slider ul.slider-carousel li {
  height: 600px;
  width: 100%;
  text-align: center;

}

.slider ul.slider-carousel li h1 {
  margin-top: 150px;
  margin-bottom: 30px;
  color: #ffffff;
}

.slider ul.slider-carousel li p {
  margin-bottom: 50px;
  color: #ffffff;
}

.slider ul.slider-carousel li a {
  padding: 10px 40px;
  margin-right: 30px;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.slider ul.slider-carousel li a:last-child {
  margin-right: 0px;
}

.img1 {
  background: url('../img/slider1.png') no-repeat;
  background-size: 100% 100%;
}

.img2 {
  background: url('../img/slider2.png') no-repeat;
  background-size: 100% 100%;
}

.img3 {
  background: url('../img/slider3.png') no-repeat;
  background-size: 100% 100%;
}

.slider ul.slider-carousel li a.cta1:hover {
  border-radius: 5px;
  background-color: #ff695a;
}

.slider ul.slider-carousel li a.cta2:hover {
  border-radius: 5px;
  background-color: #3f9cfa;
}

.slider ul.sliderpager li {
  padding: 0 3px;
  height: 28px;
  line-height: 28px;
}

.slider ul.sliderpager li a {
  color: #34495e;
}

.slider ul.sliderpager li.selected  a {
  color: #e74c3c;
}

/*========================================

       ===> Services Section <===

==========================================*/

.services {
  text-align: center;
}


.services .services-content i {
  font-size: 32px;
  color: #555555;
}

.services-header,
.portfolio-header,
.team-header,
.testimonials-header,
.blog-header,
.contact-header {
  margin-bottom: 42px;
  text-align: center;
}

/*========================================

       ===> Portfolio Section <===

==========================================*/


.portfolio {
  color: #ffffff;
  background: url('../img/portfolio-bg.png');
  background-attachment: fixed;
  background-size: 100% 100%;
}

.portfolio .inner-content {
  position: relative;
  width: 265px;
  height: 225px;
}

.portfolio .inner-content img {
  width: 100%;
  height: 100%;
}

.portfolio .inner-content .overlay-content {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.portfolio-carousel li {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio .inner-content .overlay-content h3,
.portfolio .inner-content .overlay-content p {
  color: #ffffff;
}

.portfolio .inner-content .overlay-content h3 {
  padding-top: 20%;
  color: #e74c3c;
}

.portfolio .inner-content:hover .overlay-content {
  top: 0px;
}

.portfolio .inner-content .overlay-content p a {
  color: #2d82d8;
  font-weight: bold;
}

.portfolio .portfolio-nav {
  text-align: center;
  margin-top: 30px;

}

.portfolio .portfolio-nav li {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;

}

.portfolio .portfolio-nav li:last-child {
  margin-right: 0px;
}

.portfolio .portfolio-nav li:hover {
  background-color: #e74c3c;
}


/*========================================

       ===> Team Section <===

==========================================*/


.team .inner-content {
  position: relative;
  width: 265px;
  height: 225px;
}

.team .inner-content img {
  width: 100%;
  height: 100%;
}

.team .inner-content .overlay-content {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.team-carousel li {
  margin-right: 10px;
  margin-left: 10px;
}

.team .inner-content:hover .overlay-content {
  top: 0px;
}



.team .team-nav {
  text-align: center;
  margin-top: 30px;

}

.team .team-nav li {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;

}

.team .team-nav li:last-child {
  margin-right: 0px;
}

.team .team-nav li:hover {
  background-color: #e74c3c;
}

.team-carousel .inner-content p.name {
  padding-top: 15%;
}

.team-carousel .inner-content p.description {
  padding: 0 15px;
}

ul.member-social-links li {
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;

}

ul.member-social-links li a {
  color: #fff;
}

ul.member-social-links li i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
}

ul.member-social-links li i.fa-facebook {
  background-color: #3b5998;
}

ul.member-social-links li i.fa-twitter {
  background-color: #00aced;
}

ul.member-social-links li i.fa-linkedin {
  background-color: #007bb6;

}

/*========================================

       ===> Testimonials Section <===

==========================================*/

.testimonials {
  background: url('../img/testi-bg.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #fff;
}

.testimonials-carousel li {
  text-align: center;
  margin: 0 200px;
}

blockquote
{
	border:none;
	line-height: 1.5em;
	position: relative;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding:0;
}

blockquote:before
{
	position: absolute;
	content: "\f10d";
	top:-5px;
	left: -20px;
	font-family: FontAwesome;
}

blockquote:after
{
	position: absolute;
	content: "\f10e";
	bottom:-5px;
	right: -20px;
	font-family: FontAwesome;
}

.testimonials-carousel li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}


.testimonials-carousel li p.name {
  color: #e74c3c;
  font-weight: bold;
}

.testimonials-carousel li p.position {
  font-weight: bold;
  margin-bottom: 30px;

}

.testipager li {
  margin-right: 5px;
}

.testipager li:last-child {
  margin-right: 0px;
}

.testipager li a {
  color: #ffffff;
}

.testipager li.selected a {
  color: #e74c3c;
}

.blog b .date {
  color: #333333;
}

.blog h3 a {
  -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.blog h3 a:hover {
  color: #e74c3c;
}


/*========================================

       ===> Contact Section <===

==========================================*/

.contact {
  background: url('../img/contact-bg.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #ffffff;
}


form.contact-form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

input:not([type=submit]), textarea {
  width: 100%;
  margin-bottom: 40px;
  color: #777;
  padding-left: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) inset;
  border: none;
}

input:not([type=submit]) {
  height: 40px;
  line-height: 40px;
}

textarea {
  padding-top: 10px;
}

#submit {
  padding: 10px 30px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  font-weight: bold;

}

/*========================================

       ===> footer Section <===

==========================================*/

footer {
  padding-top: 56px;
}

footer h1 {
  padding-bottom: 28px;
}

footer p i {
  color: #2d82d8;
}

footer p span {
  padding-left: 15px;
  font-weight: bold;
}

form.update-form input:not([type=submit]), textarea {
  width: 100%;
  margin-bottom: 40px;
  color: #777;
  padding-left: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
  border: none;
}

#take-email {
  margin-bottom: 20px;
}

#submit-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 0px 30px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.footer-social-links li {
  padding: 0 10px;
  font-size: 28px;
}

.footer-social-links li a i.fa-facebook {
  color: #3b5998;
}

.footer-social-links li a i.fa-twitter {
    color: #00aced;
}

.footer-social-links li a i.fa-linkedin {
    color: #007bb5;
}

.footer-social-links li a i.fa-dribbble {
    color: #ea4c89;
}

.footer-social-links li a i.fa-youtube {
    color: #bb0000;
}

.copyright {
    text-align: center;
    color: #fff;
    background-color: #333;
    height: 42px;
    line-height: 42px;
    margin-top: 56px;
}

footer p span.primary {
  padding-left: 0px;
}

.copyright p {
    margin: 0 0 0 0;
}

/*========================================

       ===> Responsive Section <===

==========================================*/

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 992px) {

  .slider {
    margin-top: 112px;
  }

  header {
    margin-top: -112px;
    background-color: #34495e;
  }

  #menu {
    display: none;
  }

  .slicknav_menu {
    display: inline-block;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
    right: 0px;
    margin-top: -112px;
  }

  .slicknav_btn {
    background: #e74c3c;
    margin: 35px 30px 0 0;
  }

  .slicknav_nav {
      background: #34495e;
      width: 200px;
  }

  .slicknav_nav li {
    margin: 0;
    padding: 0;
    height: 3em;
    line-height: 3em;
    width: 200px;
    border-bottom: 1px solid #2e4155;
    border-top: 1px solid #3d5267;
    text-align: center;
  }

    .slicknav_nav li a {
      margin: 0;
      padding: 0;
    }

    .slicknav_nav li a:hover {
      color: #e74c3c;
      background-color: rgba(0, 0, 0, 0);
    }

    .slider,
    .slider ul.slider-carousel,
    .slider ul.slider-carousel li {
      height: 450px;

    }

    .slider ul.slider-carousel li h1 {
      margin-top: 100px;
      margin-bottom: 30px;
    }

    /*portfolio responsive styles*/
    .portfolio {
      background: none;
      background-color: #eca535;
    }

    .portfolio-carousel li {
        margin-right: 0px;
        margin-left: 0px;
      }

    .portfolio-carousel h3 {
      font-size: 14px;
    }

    .portfolio .inner-content {
      width: 200px;
      height: 180px;
    }


    /*Team Responsive */

    .team-carousel h3 {
      font-size: 18px;
    }

    .team .inner-content {
      width: 200px;
      height: 180px;
    }

    .team-carousel li {
      margin-right: 0px;
      margin-left: 0px;
    }

    .team-carousel p.description {
      display: none;
    }

    /*Testimonials*/
    .testimonials {
      background: none;
      background-color: #0d1722;
    }

    .blog {
      text-align: center;
    }

      .blog img {
        margin: 0 auto;
      }

      /*Contact forn*/

      .contact {
        background: none;
        background-color: #36767a;
      }
      form.contact-form {
        width: 60%;
      }

      /*Footerc*/
      footer {
        text-align: center;
      }

}

@media screen and (max-width: 800px) {

    .portfolio-carousel h3 {
      font-size: 12px;
    }

    .portfolio .inner-content {
      width: 180px;
      height: 150px;
    }


    .portfolio li p {
      font-size: 12px;
    }

    /*Team Responsive */

    .team-carousel h3 {
      font-size: 12px;
    }

    .team .inner-content {
      width: 180px;
      height: 150px;
    }


    .team li p {
      font-size: 12px;
    }

    /*Testimonails */

    .testimonials-carousel li {
      margin: 0 100px;
    }
}

@media screen and (max-width: 550px) {


      .slider ul li a {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
      }


    .slider,
    .slider ul.slider-carousel,
    .slider ul.slider-carousel li {
      height: 380px;
    }

    .slider ul.slider-carousel li h1 {
      margin-top: 70px;
      margin-bottom: 30px;
    }

    .testimonials-carousel li {
      margin: 0 50px;
    }

    /*Contact Form*/
    form.contact-form {
      width: 80%;
    }
}

@media screen and (max-width: 420px) {

    .slider ul.slider-carousel li h1 {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 30px;
    }
}
